/*Header*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
body {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Source Sans 3", serif;
  background-color: #fff;
}
body header {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 0;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}
body header .logoPrincipal {
  display: block;
  width: 120px;
  height: 80px;
  background-image: url(../img/logoSegunditas.jpg);
  font-size: 0;
  background-position: center;
  background-size: 110px;
  background-repeat: no-repeat;
  transition: 0.25s all ease;
}
body header .logoPrincipal:hover {
  transform: scale(1.1);
}
body header div {
  display: block;
  width: auto;
  height: auto;
}
body header div a {
  color: #444;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
  display: block;
  border: 2px solid #444;
  padding: 0 8px 0;
  margin: 0 90px 0 0;
  transition: 0.25s all ease;
}
body header div a:visited {
  color: #444;
}
body header div a:hover {
  transform: scale(1.1);
}
body header .burger {
  width: 60px;
  height: 60px;
  border: 2px solid #444;
  right: 15px;
  position: absolute;
  border-radius: 0px;
  display: flex;
  align-content: space-evenly;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 3;
  transition: 0.25s all ease;
  cursor: pointer;
}
body header .burger:after {
  content: "";
  width: 80%;
  height: 3px;
  display: block;
  background-color: #444;
  position: relative;
  transition: 0.25s all ease;
}
body header .burger:before {
  content: "";
  width: 80%;
  height: 3px;
  display: block;
  background-color: #444;
  position: relative;
  transition: 0.25s all ease;
}
body header .burger.tache:after {
  transform: rotate(45deg);
  bottom: 10px;
}
body header .burger.tache:before {
  transform: rotate(-45deg);
  top: 10px;
}
body header nav {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.25s all ease;
  z-index: 2;
  background-color: #fff;
  display: flex;
}
body header nav ul {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
body header nav ul li {
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
  height: auto;
  padding: 12px;
  box-sizing: border-box;
}
body header nav ul li a {
  text-decoration: none;
  color: #444;
  font-size: 65px;
  display: block;
  transition: 0.25s all ease;
}
body header nav ul li a:visited {
  color: #444;
}
body header nav ul li a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}
body header nav.visible {
  right: 0;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  body header .logoPrincipal {
    width: 110px;
    height: 90px;
    background-size: 110px;
  }
  body header div a {
    font-size: 18px;
  }
  body header nav ul li a {
    font-size: 45px;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  text-align: center;
  padding: 12px;
  font-size: 25px;
  background-color: #444;
  color: #444;
  box-sizing: border-box;
}
footer span {
  display: block;
  width: 100%;
  height: auto;
  padding: 8px 0;
  text-align: center;
  color: #6f6f6f;
}
footer img {
  display: block;
  width: 80px;
  margin: 20px auto;
  filter: brightness(0.2666666667);
}

section label {
  display: block;
  width: 90%;
  max-width: 600px;
  height: auto;
  margin: 50px auto 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #444;
  cursor: pointer;
  transition: 0.25s all ease;
}
section labelhover {
  transform: scale(1.1);
  cursor: pointer;
}
section .rastreo {
  display: block;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  padding: 12px;
  border-radius: 200px;
  border: 2px solid #444;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  line-height: 27px;
  transition: 0.25s all ease;
}
section .rastreo::placeholder {
  text-align: center;
  font-weight: bold;
  color: #c7c7c7;
}
section .rastreo:hover {
  transform: scale(1.1);
  cursor: pointer;
}
section .enviar {
  background: radial-gradient(circle, #857777 0%, #444444 100%);
  width: 120px;
  height: 50px;
  margin: 20px auto;
  float: none;
  display: block;
  border: none;
  transition: 0.25s all ease;
}
section .enviar:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 0.8;
}

section .whats {
  font-size: 0;
  width: 60px;
  height: 60px;
  background-image: url(../img/whats.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: 30px;
  position: fixed;
  bottom: 10px;
  cursor: pointer;
}
section .whats a {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

main .testimonios {
  width: 100%;
  max-width: 1040px;
  margin: 30px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
main .testimonios .justify-content {
  justify-content: center;
}
main .testimonios .justify-content .btn.btn-primary {
  background-color: #444;
  border: none;
}
main .testimonios p span {
  font-size: 10px;
}

main .moduloExplicativo {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
}
main .moduloExplicativo img {
  width: 30%;
  margin: 0;
}
main .moduloExplicativo p {
  width: 60%;
  height: auto;
  margin: 0;
  padding: 12px;
}

main .moduloExplicativo.full {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
}
main .moduloExplicativo.full img {
  width: 100%;
}
main .moduloExplicativo.full p {
  width: 100%;
  margin: 20px 0;
}

main .moduloExplicativo.flexx {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
}
main .moduloExplicativo.flexx img {
  width: 100%;
  order: 2;
  position: absolute;
  top: 90px;
  right: -20px;
  max-width: 500px;
}
main .moduloExplicativo.flexx p {
  width: 100%;
  max-width: 700px;
  order: 1;
  margin: 0 0 90px 0;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0 20px -5px #444;
}

@media screen and (max-width: 768px) {
  main .moduloExplicativo img {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
  }
  main .moduloExplicativo p {
    width: 90%;
    margin: 10px auto;
  }
  main .moduloExplicativo.full img {
    max-width: unset;
  }
  main .moduloExplicativo.flexx img {
    width: 100%;
    order: 2;
    position: relative;
    top: -30px;
    right: 0px;
    max-width: unset;
  }
  main .moduloExplicativo.flexx p {
    position: relative;
    margin: 0;
  }
}
main .ache1, main .ache2 {
  width: 100%;
  height: auto;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #444;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-weight: lighter;
}
main .circles {
  width: 100%;
  max-width: 1040px;
  margin: 30px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
main .circles .vinculoCirculo, main .circles .vinculoCirculo:visited {
  width: 30%;
  display: block;
  text-decoration: none;
  color: #444;
  transition: 0.25s all ease;
}
main .circles .vinculoCirculo:hover {
  transform: scale(1.1);
}
main .circles .vinculoCirculo:active {
  transform: scale(1);
  transition: 0.05s all ease;
}
main .circles .vinculoCirculo img, main .circles .vinculoCirculo:visited img {
  width: 100%;
  display: block;
}
main .circles span {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  height: auto;
  font-weight: bolder;
  margin: 0 auto;
  padding: 12px;
  display: block;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  main .ache1, main .ache2 {
    font-size: 36px;
    line-height: 40px;
  }
  main .circles {
    flex-wrap: wrap;
  }
  main .circles .vinculoCirculo, main .circles .vinculoCirculo:visited {
    width: 100%;
  }
  main .circles .vinculoCirculo img, main .circles .vinculoCirculo:visited img {
    max-width: 300px;
    margin: 20px auto 0 auto;
  }
}

/*# sourceMappingURL=estilos.css.map */
